{% load static %}
<!-- Base HTML used to extend to other pages to keep similar look with sakura stylesheet -->
<!DOCTYPE html>
<html>
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>

    <h1 id="site-header" style="background: url('{% static 'img/forest.jpg' %}')">Where do you want to go?</h1>

    <body>

        <!-- Content from other sites uses these block tags to insert their own HTML content and
         reuses what appears on this page -->
        {% block content %}
        {% endblock %}


    </body>

    <div>
        <p>A travel wishlist, built with Django</p>

        <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a>
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>
    </div>

</html>